ToolTestData/.vs/ToolTestData/FileContentIndex/23209c2a-8e71-47fe-ab6d-d5155ed0c38f.vsidx
ToolTestData/.vs/ToolTestData/FileContentIndex/452e5132-c770-4203-ac93-3a3d251c939f.vsidx
ToolTestData/.vs/ToolTestData/FileContentIndex/6beba392-26ff-4fe8-93f6-235f857ec371.vsidx
ToolTestData/.vs/ToolTestData/FileContentIndex/cdb21c07-28c1-43c5-8dfa-9a5baa616022.vsidx
ToolTestData/.vs/ToolTestData/FileContentIndex/e8bbe1f0-f5ed-4487-93ab-ca7fa7ae3421.vsidx
